#griglia {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;


}

.conteiner {
    width: 100%;
    background-color: rgba(127, 255, 212, 255);
    padding: 40px 0;
}

.logo {
    margin-right: auto;
}

.nav {
    width: 100%;
    padding: 20px 10px;
}

div>img {
    width: 70%;
}

.play {
    background-color: rgba(233, 233, 237, 255);
    border-color: gray;
    border-radius: 10px;
    padding: 0 20px;
    margin-left: auto;
}



.box {

    border: 1px solid black;
    width: calc(100% / 10);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;


}

.active {
    background-color: aqua;
}

.fa-heart {
    width: 18px;
    margin: 30px 3px;
}