
#griglia{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;

}



.box{
    border: 1px solid black;
    width: calc(100% / 10);
    aspect-ratio: 1 / 1;


}